#landing {
  width: 100%;
  height: 100vh;
  padding: 140px 0 100px 0;
  position: relative;
  overflow: hidden;
}

#landing::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 20%;
  width: 250%;
  height: 200%;
  z-index: -1;
  transform: skewY(130deg);
  background: linear-gradient(
    to bottom,
    #ffffff 0,
    #5fbaffd5 33%,
    #0d1ca1 66%,
    #13007c 100%
  );
}

#title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 80px;
  color: #000000;
  font-family: "Bebas Neue", cursive;
}

#description {
  color: #004fa3;
  font-size: 27px;
  font-family: "Outfit", sans-serif;
  margin-bottom: 40px;
}

.center {
  display: flex;
  justify-content: center;
}

.download-btn {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  display: inline-block;
  padding: 8px 15px 10px 10px;
  border-radius: 7px;
  transition: 0.5s;
  color: #fff;
  background: #000000;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.download-btn:hover {
  background: #161769fb;
  color: white;
}

.download-btn-icon {
  font-size: 18px;
}

#image-text {
  text-align: center;
  margin-left: 100px;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-top: 0;
  padding-top: 0;
}

a:hover {
  text-decoration: none;
}

#landing .download-btn + .download-btn {
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  #landing {
    text-align: center;
    height: 102vh;
  }
  #landing .download-btn + .download-btn {
    margin: 0 10px;
  }
  #logo {
    width: 15%;
  }
  #title {
    font-size: 50px;
  }
  #description {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .image {
    text-align: center;
    width: 90%;
  }
  #image-text {
    margin-left: 0px;
  }
}

#footer {
  padding: 0 0 30px 0;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
